XMN{{ instance_name }} {{ out_net }} {{ in_nets[0] }} GND GND {{ model_nmos }} L={{ ln }} W={{ wn }} nf=1 mult=1
XMP{{ instance_name }} {{ out_net }} {{ in_nets[0] }} VDD VDD {{ model_pmos }} L={{ lp }} W={{ wp }} nf=1 mult=1
